*{
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
}

#container{
  font-family: 'Trebuchet MS', Arial, sans-serif;
  letter-spacing: 3px; 
  height: 100%;
 
}

/* Nav - Logo */
header{
  height: 25%;

  background-color: #000;
  background-image: url(./img/bg-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo img{
  width: 100px;
}

nav ul{
  margin-top: 20px;
  list-style: none;
}

nav ul li{
  float: left;
  padding: 0 15px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

nav ul li a:hover{
  background-color: #fff;
  color: #000;
}

/* Content */

/* Main */

#principal{
  margin: 0 auto;
  height: 100%;
}

#about{
  background: #fff;
  padding: 15px 90px;
}

#about h2{
  font-weight: bold;
}

#about p{
  width: 70%;
  padding-left: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
}

#image1{
  height: 50%;
  padding: 15px 0;
  background-image: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjSMLIgwt_3x3wMEacjwvSIq43-gOYnTLKWENw0L2GTTr939VtBAyGT_YAeATeq2ytQSExPA0AwdXhHq4SSZUJQjDmxahOankTZh9JpBXj5dZcPl3jCC5G3vauCj_9esXT1NnROvwVaS8IxyIu6ROyB5h6LfYFLuBfNm6k_vkd2pbmb4U1fKVP3z6zBKA/s2560/Porsche-911-GT3-RS-992-2023%20%286%29.jpg");

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}

/* Infos */

#infos-car{
  padding: 15px 90px;
  display: flex;

  align-items: center;
}

#infos-car article{
  padding: 10px;
  margin: 0 auto;
}

#infos-car article img{
  float: left;
}

#infos-car article h4{
  padding: 5px;
  float: left;
  font-weight: bold;
  margin-left: 5px;
}

#infos-car #specification{
  clear: both;
  padding: 10px;

}

#specification ul{
  list-style: circle;
  letter-spacing: 2px;
}
#specification ul li{
  margin: 5px;

}

/* Video */

#video{
  position: relative;
}


#video h2{
  position: absolute;
  bottom: 250px;
  left: 80px;

  color: #fff;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 2px;
}

/* Footer */

footer{
  position: relative;
  background: rgb(0, 0, 0, 0.5);
  padding: 20px;
  color: #fff;
  text-align: center;
  margin-top: -60px;

}